@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root{
    --theme-color: white;
    --text-color: black;
    --color-input:rgba(34, 35, 35, 0.437);
    --box-shadow: 0 10px 6px -11px rgb(0 0 0 / 75%);
    --box-shadow-img:1px 1px 14px 4px rgb(0 0 0 / 25%);
   
    color-scheme: light;

}
/*@media (prefers-color-scheme: dark) { */
:root[data-theme="dark"]  {
    --theme-color: rgb(16, 15, 15);
    --text-color: rgb(238, 234, 234);
    --color-input: rgba(180, 182, 181, 0.663);
    --box-shadow: 0 10px 6px -11px rgb(255 255 255 / 47%);
    --secundary-color: rgba(39, 38, 38, 0.836); 
    /*--box-shadow-img: inset 2px 2px 20px 7px rgb(0 0 0 / 65%);*/
    --box-shadow-img: inset 0px 0px 18px 0px rgba(0,0,0,0.9);

    color-scheme: dark;
}
:root[data-theme="light"] .dark-mode-btn{
    display: none;
}
:root[data-theme="dark"] .light-mode-btn{
    display: none;
}

html {
    background-color: var(--theme-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    max-width: 1000px;
    margin: auto;
}

.light-mode-btn,
.dark-mode-btn{
    display: flex;
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    z-index: 1;
    border: none;
    background: none;
    cursor: pointer;
}

.icon {
    display: flex;
    position: fixed;
    right: 10px;
    bottom: 20px;
    font-size: 35px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    z-index: 1;
    gap: 0.1rem;
}

a {
    height: 35px;
}

.fa-square-whatsapp{
    color: rgb(41, 208, 113);
}

.fa-square-facebook{
    color: blue;
}

.fa-square-github{
    color: var(--text-color);
}

.fa-square-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px;
    grid-auto-rows: 400px;
    place-items: center;
    min-width: 320px;
    box-shadow: var(--box-shadow)
}   

.brocheta-image {
    width: 90%;
    height: 90%;
    border-radius: 100px;
    object-fit: cover;
}

.info {
    color: var(--text-color);
    align-self: center;
    padding: 0 35px;
    font-weight: bolder;
    margin-bottom: 50px;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.info-button {
    background-color: #3fc177;
    padding: 12px 24px ;
    border-radius: 20px;
    font-weight: bolder;
    cursor: pointer;
    margin: 20px;
    position: relative;
    color: black;
}

.info-button:hover{
    background-color: rgb(57, 177, 109);
}

.services {
    margin: 50px 0;
}

.services-title{
    color:var(--text-color);
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: bolder;
}
.services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 230px));
    grid-auto-rows: 1fr;
    gap: 25px;
}

.services-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
    box-sizing: border-box;
    overflow: hidden;
}

.services-item-big{
    grid-area: 1 / 1 / 3 / 3;
}

.services-grid img {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.menu{
    margin-bottom: 150px;
}

.menu-title{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
}

.menu-grid{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit , 150px);
    grid-auto-rows: 150px;
    margin: 50px 0;
    gap: 20px;
}

.menu-grid-item img{
    height: 100%;
    width: 100%;
    border-radius: 15%;
    object-fit: cover;
    transition: all 300ms;
    position: relative;
}

.menu-grid-item img:hover{
    transform: scale(1.20);
}

.footer{
    height: 90px;
}

.footer-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 100%;
    width: 200px;

    background-color: white;
    box-shadow: var(--box-shadow-img);
    -webkit-border-radius: 131px 17px 131px 17px;
    -moz-border-radius: 131px 17px 131px 17px; 
    border-radius: 131px 17px 131px 17px;

}

@media screen and (max-width: 768px) {
    .hero {
      grid-template-columns: minmax(300px, 500px);
      justify-content: center;
      grid-template-rows: minmax(200px, 300px);
      margin: 0;
      padding: 10px;
    }

    .info{
        margin: 0;
    }
    .brocheta-image {
      display: none;
    }   

    .services-grid{
        gap: 15px;
        place-content: center;
    }
    .services-grid{
        grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
        margin: 0 auto;
    }
    .info-button {
      position: absolute;
      margin: auto;
      transform: translate(-50%);
      padding: 10px 15px;
    }
    h1 {
      text-align: center;
      margin: auto;
    }
    .dishes {
      margin: 0;
    }
    .menu {
      margin-bottom: 50px;
    }
}

